/lista2/lista2Atividade1/build/
/lista2/lista2Atividade1/dist/
/lista2/lista2Atividade2/build/
/lista2/lista2Atividade2/dist/
/lista2/lista2Atividade3/build/
/lista2/lista2Atividade3/dist/
/lista2/lista2Atividade4/dist/
/lista2/lista2Atividade4/build/
/lista2/lista2Atividade5/build/
/lista2/lista2Atividade5/dist/
/lista2/lista2Atividade6/build/
/lista2/lista2Atividade6/dist/
/lista2/lista2Atividade7/build/
/lista2/lista2Atividade7/dist/
/lista2/lista2Atividade8/build/
/lista2/lista2Atividade8/dist/
/lista2/lsita2Atividade9/dist/
/lista2/lsita2Atividade9/build/
/lista2/lista2Atividade9/dist/
/lista2/lista2Atividade9/build/
/lista2/lista2Atividade10/build/
/lista2/lista2Atividade10/dist/
/lista2/lista2Atividade11/dist/
/lista2/lista2Atividade11/build/
/lista2/lista2Atividade12/dist/
/lista2/lista2Atividade12/build/
/lista2/lista2Atividade13/build/
/lista2/lista2Atividade13/dist/
/lista2/lista2Atividade14/build/
/lista2/lista2Atividade14/dist/
/lista2/lista2Atividade15/build/
/lista2/lista2Atividade15/dist/
/lista2/lista2Atividade16/build/
/lista2/lista2Atividade16/dist/
/lista3/lista3Atividade2/build/
/lista3/lista3Atividade2/dist/
/lista3/lista3Atividade3/build/
/lista3/lista3Atividade3/dist/
/lista3/lista3Atividade4/build/
/lista3/lista3Atividade4/dist/
/lista3/lista3Atividade5/build/
/lista3/lista3Atividade5/dist/
/lista3/lista3Atividade6/dist/
/lista3/lista3Atividade6/build/
/lista3/lista3Atividade7/build/
/lista3/lista3Atividade7/dist/
/lista3/lista3Atividade8/build/
/lista3/lista3Atividade8/dist/
/lista4/lista4Atividade1/dist/
/lista4/lista4Atividade1/build/
/lista4/lista4Atividade2/build/
/lista4/lista4Atividade2/dist/
/lista4/lista4Atividade3/build/
/lista4/lista4Atividade3/dist/
/lista4/lista4Atividade4/build/
/lista4/lista4Atividade4/dist/
/lista4/lista4Atividade5/build/
/lista4/lista4Atividade5/dist/
/lista4/lista4Atividade6/build/
/lista4/lista4Atividade6/dist/
/lista5/lista5Atividade1/build/
/lista5/lista5Atividade1/dist/
/lista5/lista5Atividade2/build/
/lista5/lista5Atividade2/dist/
/lista5/lista5Atividade3/build/
/lista5/lista5Atividade3/dist/
/lista5/lista5Atividade4/build/
/lista5/lista5Atividade4/dist/
/lista5/lista5Atividade5/build/
/lista5/lista5Atividade5/dist/
/lista5/lista5Atividade6/build/
/lista5/lista5Atividade6/dist/
/lista5/lista5Atividade7/build/
/lista5/lista5Atividade7/dist/
/lista5/lista5Atividade8/build/
/lista5/lista5Atividade8/dist/
/lista5/lista5Atividade9/build/
/lista5/lista5Atividade9/dist/
/lista5/lista5Atividade10/dist/
/lista5/lista5Atividade10/build/
/prova1/questao1/letraA/build/
/prova1/questao1/letraA/dist/
/prova1/questao1/q1LetraA/build/
/prova1/questao1/q1LetraA/dist/
/lista5/lista5Atividade11/build/
/lista5/lista5Atividade11/dist/
/prova1/questao2/q2LetraA/dist/
/prova1/questao2/q2LetraA/build/
/prova1/questao2/q2LetraB/build/
/prova1/questao2/q2LetraB/dist/
/prova1/questao3/q3LetraA/build/
/prova1/questao3/q3LetraA/dist/
/prova1/questao3/q3LetraB/build/
/prova1/questao3/q3LetraB/dist/
